:root {
  --pastel-green: rgb(193, 225, 193);
  --pastel-grey: rgb(207, 207, 196);
  --font: "ZCOOL KuaiLe", sans-serif;
}

.hidden {
  display: none;
}

body {
  background: url("../Assets/start-menu.png");
  background-size: cover;
}

.btn {
  position: relative;
  top: 660px;
  font-family: var(--font);
  font-size: 25px;
  color: black;
  height: 45px;
  /* transition: 5s; */
}

.start-btn,
.play-btn {
  background-color: var(--pastel-green);
  border-color: var(--pastel-green);
}

.tutorial-btn {
  background-color: var(--pastel-grey);
  border-color: var(--pastel-grey);
}

.logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
}

/* START GAME & TUTORIAL MODAL */
.modal-footer button {
  top: 0px;
}

.modal-body {
  height: 320px;
}

p {
  font-family: var(--font);
}

#startGameModal .btn,
#tutorialModal .btn {
  width: 120px;
}

#startGameModal p {
  margin: 30px 0 0 0;
  font-size: 20px;
}

#startGameModal input {
  margin: 20px;
}

span {
  color: blue;
}

#tutorialModal .modal-body {
  height: 500px;
}

/* GAME SCREEN */
.header-row {
  height: 50px;
}

/* div {
  border-style: solid;
} */

#p1-tower,
#p2-tower {
  display: grid;
  grid-template-rows: repeat(10, 50px);
  grid-template-columns: repeat(5, 50px);

  justify-content: center;
  transform: rotate(180deg);
}

.timer {
  height: 80px;
}

.turn-counter {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.counter {
  background-color: var(--pastel-grey);
  height: 15px;
  width: 15px;
  margin: 0 5px;
}

.power-dice-picker {
  height: 150px;
  align-content: center;
  justify-content: center;
}

.dice-png {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#p1-cannon-dice,
#p2-cannon-dice {
  display: grid;
  grid-template-rows: repeat(1, 100px);
  grid-template-columns: 100px 50px 100px 50px 80px;

  justify-content: center;
  align-items: center;
}

.cannon-dice {
  font-size: 40px;
  margin: 0;
}

.brown-dice-png {
  width: 80%;
  height: 80%;
  object-fit: cover;
  justify-self: center;
}
